spring:
    application:
        name: enrollment-api

    datasource:
        driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
        url: jdbc:log4jdbc:h2:mem:enrollment;MODE=mysql
#        driver-class-name: org.h2.Driver
#        url: jdbc:h2:mem:enrollment;MODE=mysql
        username: sa
        password:

    jpa:
        database: h2
        hibernate:
            ddl-auto: none

    sql:
        init:
            mode: always
            schema-locations: classpath:schema.sql
            data-locations: classpath:data.sql

logging:
    level:
        root: INFO
        jdbc: OFF
        jdbc.audit: OFF
        jdbc.connection: OFF
        jdbc.resultset: OFF
        jdbc.resultsettable: INFO
        jdbc.sqlonly: INFO